html, body {
    min-height: 100%;
}

html, body {
    background-color: #DDDDDD;
}

.fill {
 margin-bottom: 20px;
}

.bottom {
    margin-top: 10px;
}

.like-bar {
    margin-top: 10px;
}

.progress {
    cursor: pointer;
}

textarea {
    resize: none;
}

#connect{
    text-align: center;
}